/* *****custom variables***** */
:root {
  /* ***primary colors*** */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  /* ***fonts*** */
  --font-family: "Spartan", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--dark-gray);
  font-family: var(--font-family);
  font-size: 12px;
  min-width: 100vw;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  color: var(--dark-gray);
  text-decoration: none;
}
