/* *****custom variables***** */
:root {
  /* ***primary colors*** */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  /* ***fonts*** */
  --font-family: "Spartan", sans-serif;
}

/* *****general styles***** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--dark-gray);
  font-family: var(--font-family);
  font-size: 12px;
  min-width: 100vw;
  max-width: 1980px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.hero,
.details,
.about-txt,
.nav-links-container {
  padding: 0 6%;
}

div.hero,
div.about-dark,
div.about-light {
  background-size: 100% 100%;
  background-position: 100%;
  background-repeat: no-repeat;
}

.main-heading,
.about-heading,
a.shop-now {
  color: var(--black);
}

.mobile-nav-toggle {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.main-heading,
.about-heading {
  padding-bottom: 1rem;
}

.details-info,
.about-info {
  line-height: 1.4;
}

.hidden {
  display: none;
}

.scroll {
  height: 100vh;
  overflow: hidden;
}

/* *****hero***** */
.hero {
  padding-bottom: 96%;
  width: 100%;
  position: relative;
}

nav.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem 6%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-left: 40%;
}

.nav-links-wrapper {
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-links-container,
ul.nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  background-color: var(--white);
}

.nav-links-container .mobile-nav-toggle {
  color: var(--dark-gray);
}

ul.nav-links {
  list-style-type: none;
  padding: 2rem 0;
}

ul.nav-links li {
  margin-right: 1.5rem;
}

ul.nav-links li:last-child {
  margin-right: 0;
}

ul.nav-links li a {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
}

.controls {
  background-color: var(--black);
  width: max-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.controls i {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.controls i:hover {
  background-color: hsl(0, 0%, 16%);
  color: var(--white);
}

/* *****details***** */
.details {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-heading {
  font-size: 1.8rem;
  font-weight: 600;
}

.details-info {
  padding-bottom: 2.5rem;
}

.shop-now {
  font-size: 0.85rem;
  text-decoration: none;
  letter-spacing: 8px;
}

/* *****about our furniture***** */
.about-dark {
  background-image: url("./images/image-about-dark.jpg");
  padding-bottom: 63.33%;
}

.about-txt {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-heading {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.about-light {
  background-image: url("./images/image-about-light.jpg");
  padding-bottom: 60.454546%;
}

/* segment *****media queries***** */
@media screen and (min-width: 430px) {
  .hero {
    padding-bottom: 63.57%;
  }

  .controls i {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 1020px) {
  /* *****general styles***** */
  body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(14, 1fr);
    /*gap: 0;*/
    min-width: 100vw;
    /*min-height: 100vh;*/
    height: 100vh;
  }

  .hero,
  .details,
  .about-txt,
  .nav-links-container {
    padding: 0 6%;
  }

  .hero,
  .about-dark,
  .about-light {
    padding-bottom: 0;
    height: auto;
    width: 100%;
  }

  .mobile-nav-toggle {
    display: none;
  }

  /* *****hero***** */
  .hero {
    background-image: url("./images/desktop-image-hero-1.jpg");
    grid-area: 1 / 1 / 3 / 9;
  }

  .details {
    grid-area: 1 / 9 / 3 / 15;
  }

  .about-dark {
    grid-area: 3 / 1 / 4 / 5;
  }

  .about-txt {
    grid-area: 3 / 5 / 4 / 11;
  }

  .about-light {
    grid-area: 3 / 11 / 4 / 15;
  }

  .logo {
    margin-left: 0;
  }

  .nav-links-wrapper {
    background-color: transparent;
    width: max-content;
    height: max-content;
    position: static;
    top: unset;
    left: unset;
    display: block;
    margin-left: 5%;
  }

  .nav-links-container {
    background-color: transparent;
  }

  ul.nav-links li {
    margin-right: 2rem;
  }

  ul.nav-links li a {
    color: var(--white);
    font-size: 0.8rem;
    position: relative;
    padding-bottom: 10px;
  }

  ul.nav-links li a::after {
    content: "";
    height: 2px;
    background-color: var(--white);
    width: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  ul.nav-links li a:hover::after {
    visibility: visible;
  }

  .controls {
    left: 100%;
  }

  /* *****details***** */
  .details {
    padding: 6rem 15% 0;
  }

  .main-heading {
    font-size: 1.8rem;
  }

  .shop-now {
    transition: all 0.3s;
  }

  .shop-now:hover {
    color: var(--dark-gray);
  }

  /* *****about our furniture***** */
  .about-txt {
    padding: 4rem 10%;
  }

  .about-heading {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1430px) {
  .details {
    padding-top: 8rem;
  }

  .main-heading {
    font-size: 2.2rem;
  }
}
